 <!-- Full Width Image Header -->
    <header class="header-image" >
        <div class="headline">
            <div class="container">
                <span class="nomad">NOMAD</span>
                <br>
                <!-- <p class="nomadSmall text-muted">Communal urban parking movement</p> -->
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

         <div class="featurette text-center" id="contact">
            <a class='btn btn-lg buttton btn-primary' href='/user'>Let's Get Started!</a>
      
        </div>

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle1 img-responsive pull-right" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1491603678/i90_highway_yqpf57.png">
            <h2 class="featurette-heading">Need to find parking in high traffic areas?
                <span class="text-muted"></span>
            </h2>
            <p class="lead">NOMAD connects drivers with private parking spots that use to be off limits! Its the next best thing since sliced bread!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle1 img-responsive pull-left" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1491603217/Pikeplace_market._0260_001_dbm6oo.png">
            <h2 class="featurette-heading">Do you have an unused parking spot?
                <span class="text-muted"></span>
            </h2>
            <p class="lead">People with open drive ways, private parking spots, and parking garages can monetize these spots when they aren't using them. Its the next best thing since water!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle1 img-responsive pull-right" src="http://res.cloudinary.com/dxm9xhmhb/image/upload/v1491604358/Screen_Shot_2017-04-07_at_3.32.18_PM_jnbjrk.png">
            <h2 class="featurette-heading">Nomad brings people together!</h2>
                <span class="text-muted"></span>
            </h2>
            <p class="lead">Nomad makes urban parking stress-free and fun! Its the next best thing since air! </p>
        </div>

        <hr class="featurette-divider">


    </div>